# This file should contain only VCS requirements, for non-PyPI packages.
# These requirements should still also be specified in setup.py.
git+https://github.com/jeremybanks/ChatExchange.git@b40518ac3b06cfbc759a909ac1cf53075170839f#egg=ChatExchange

-e .
